In [1]:
import numpy as np
import pandas as pd

In [2]:
file = "C:/Users/María Moya/Documents/GitHub/PROJECT_EDA_JOAQUINVILLAR_ONLINE_DS_THEBRIDGE/src/data/Hello_Auto_data.xlsx"
df_customers = pd.read_excel(file,sheet_name = "Customers")
df_customers
df_customers.sample(12)

,policyId,customerId,profession,role,isMainDriver,age,licenseYears,isMainAddress,province,city,postalCode
15133,2080,50418,NaN,Owner,0,41.0,21.0,1,MADRID,MADRID,28108.0
205162,39395,1626312,SinEmpleo,Owner,0,30.0,12.0,1,CASTELLÓN,CASTELLÓN,12002.0
184819,33804,1621022,NaN,Owner,0,20.0,NaN,1,CASTELLÓN,CASTELLÓN,12580.0
176323,31428,1526072,Conductor,Driver,1,39.0,10.0,1,BARCELONA,BARCELONA,8110.0
129582,21534,715920,TareasHogar,Driver,1,30.0,4.0,1,CÁDIZ,CÁDIZ,11130.0
135611,22605,478452,Agricultor,Owner,0,44.0,14.0,1,GUIPÚZCOA,GUIPÚZCOA,20100.0
114919,18906,673500,Mantenimiento,Owner,0,29.0,8.0,0,LAS PALMAS,LAS PALMAS,35008.0
208114,40201,1525370,Hosteleria,Owner,0,27.0,6.0,0,GERONA,GERONA,17300.0
149921,25157,1021337,Directivo,Owner,0,27.0,8.0,1,SEVILLA,SEVILLA,41110.0
159511,26954,715661,Operario,Driver,1,45.0,9.0,0,LÉRIDA,LÉRIDA,25700.0
158646,26786,1189987,Construccion,Driver,1,58.0,22.0,1,A CORUÑA,A CORUÑA,15830.0
167521,28919,550224,Mecanico,Driver,1,29.0,10.0,1,NAVARRA,NAVARRA,31010.0

In [3]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225197 entries, 0 to 225196
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   policyId       225197 non-null  int64
 1   customerId     225197 non-null  int64
 2   profession     129501 non-null  object
 3   role           225197 non-null  object
 4   isMainDriver   225197 non-null  int64
 5   age            223197 non-null  float64
 6   licenseYears   215424 non-null  float64
 7   isMainAddress  225197 non-null  int64
 8   province       211570 non-null  object
 9   city           211570 non-null  object
 10  postalCode     211570 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 18.9+ MB

In [4]:
#Duplicados
df_customers.duplicated(keep=False).sum()

np.int64(13899)

In [5]:
df_customers.province.value_counts()

province
MADRID                    36188
SEVILLA                   19686
BARCELONA                 18742
VALENCIA                  11263
MÁLAGA                    10877
CÁDIZ                     10466
MURCIA                     8864
LAS PALMAS                 7005
ALICANTE                   6680
TOLEDO                     6242
ALMERÍA                    6148
GRANADA                    4916
JAÉN                       4859
A CORUÑA                   4569
BALEARES                   4383
BIZKAIA                    3663
GERONA                     3440
TARRAGONA                  3062
ASTURIAS                   2764
SANTA CRUZ DE TENERIFE     2721
ZARAGOZA                   2621
HUELVA                     2417
CÓRDOBA                    2385
PONTEVEDRA                 2300
GUADALAJARA                2296
VALLADOLID                 2249
NAVARRA                    2039
LÉRIDA                     1757
CASTELLÓN                  1559
LEÓN                       1438
BADAJOZ                    1420
CANTABRIA                  1280
CIUDAD REAL                1209
SALAMANCA                  1067
GUIPÚZCOA                   953
LA RIOJA                    948
LUGO                        781
BURGOS                      729
ORENSE                      720
HUESCA                      660
ÁLAVA                       624
SEGOVIA                     600
ÁVILA                       529
ALBACETE                    515
CÁCERES                     475
ZAMORA                      407
PALENCIA                    351
CUENCA                      280
SORIA                       177
TERUEL                      172
--                           62
Ávila                         9
00000000                      3
Name: count, dtype: int64

In [6]:
#Valores nulos
df_customers.isna().sum()

policyId             0
customerId           0
profession       95696
role                 0
isMainDriver         0
age               2000
licenseYears      9773
isMainAddress        0
province         13627
city             13627
postalCode       13627
dtype: int64

# Análisis Univariante
1.1. Distribución de la edad de los clientes \
1.2. Distribución de la localización de los clientes